<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Obrigado por se registrar, <%= @account.name %>!</h1>
    <h2>Seu número de conta: <%= @account.id %> </h2>
    <h2>Sua senha: <%= @password %> </h2>
  </body>

</html>